@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --heading-3: Roboto;

  /* font sizes */
  --heading-3-size: 10px;

  /* Colors */
  --color-darkslategray: #343434;
}
